<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo ReactJS</title>
        <script src="libs/react.js"></script>
        <script src="libs/react-dom.js"></script>
        <script src="libs/browser.min.js"></script>
        <script src="libs/jquery-3.1.1.min.js"></script>
        <!-- <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container" id="root"></div>
        <script src="note.js" type="text/babel"></script>
        <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
